<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- CHARACTOR -->
		<meta charset="utf-8">
		<!-- VIEWPORT -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- TITLE -->
		<title></title>
		<!-- FONTAWESOME -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<!-- BOOTSTRAP CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
		<!-- ORIGINAL CSS -->
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<!-- CSS -->
		<!-- Section 2 Lecture 26 -->
		<div id="app1">
			<!-- when you click, color change :class= is Vue code-->
			<div class="demo" @click="attachRed = !attachRed" :class="{red: attachRed, blue: !attachRed}"></div>
			<div class="demo" :class="{red: attachRed}"></div>
			<div class="demo"></div>
		</div>

		<!-- or same as above but write code in Js -->
		<div id="app2">
			<div class="demo" @click="attachRed = !attachRed" :class="divClass"></div>
			<div class="demo" :class="{red: attachRed}"></div>
			<div class="demo" :class="color"></div>
			<hr>
			<input type="text" v-model="color">
		</div>
	 <!-- Section 2 Lec29 -->
	 <h3 class="my-3">Sec2 lec 29</h3>
		<div id="app3">
			<div class="demo1" :style="{backgroundColor: color}"></div>
			<!-- you can use array and object to style for miltiple styling -->
			<div class="demo1" :style="myStyle"></div>
			<div class="demo1" :style="[myStyle, {height: width + 'px'}]"></div>
			<hr>
			<!-- not necessry to write color in CSS, any color (HEX, tomato etx)reflects -->
			<input type="text" v-model="color">
			<input type="text" v-model="width">
		</div>

		<!-- Assignment Exercise 4 -->
		<h3 class="my-3">Assignment Exercise 4</h3>
		<div id="exercise4">
	  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
	  <div>
	    <button @click="startEffect">Start Effect</button>
	    <div id="effect" v-bind:class="effectClasses"></div>
	  </div>
	  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
	  <div v-bind:class="[float, 'blue', 'text-color']">I got no class :(</div>
	  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
	  <div>
	    <input type="text" v-model="userClass">
	    <div v-bind:class="[{visible: true}, userClass]"></div>
	  </div>
	  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
	  <div>
	    <input type="text" v-model="userClass">
	    <input type="text" v-model="isVisible">
	    <div v-bind:class="[{visible: isVisible}, userClass]"></div>
	  </div>
	  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
	  <div>
	    <input type="text" v-model="myStyle.backgroundColor">
	    <div v-bind:style="myStyle"></div>
	  </div>
	  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
	  <div>
	    <button v-on:click="startProgress">Start Progress</button>
	    <div v-bind:class="['progress-bar']" v-bind:style="progressBar"></div>
	  </div>
	</div>



<!-- JQUERY -->
		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- Vue.js Router -->
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<!-- JQuery / This gives access to the jquery library -->
		<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>		<!-- Bootstrap Popper / Popper is required for bootstrap 4 JS functionality -->
		<!-- Bootstrap Popper / Popper is required for bootstrap 4 JS functionality -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!-- Bootstrap JS plugin / This makes bootstrap 4 JS work -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		<!-- Original custom JS -->
  	<script type="text/javascript" src="js/main.js"></script>


	</body>
</html>
